.about-sir {
    height: 100vh;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    border-bottom: 5px solid rgb(217, 131, 56);
}
.text {
    margin-top: 13px;
    // width: 500px;
}
.zagolovok-sir {
}
.text-sir {
    
}
.o-sirse{
    border-radius: 40px;
    margin-top: 17px;
    max-width: 100%; 
    width: 500px;
}